body {
	font-family: Arial, sans-serif;
	margin:40px auto;
	max-width:800px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	background-color: #FAFAFA;
	padding:0 10px
}
h1,h2,h3{
	text-align: center;
	line-height:1.2
}
.code {
	border: 1px solid black;
	background-color: #EEE;
	font-family: courier new;
}
a.block {
	color: white;
	text-decoration: none;
}
a {
	color: #43F;
	text-decoration: none;
}
a:hover {
	color: #FF3333;
}
.block {
	text-align: center;
	display: inline-block;
	width: 250px;
	margin: 5px 5px 5px 5px;
	background-color: #333;
}